# artifacts
models/*
reports/*
progress/*
!models/.gitkeep
!reports/.gitkeep
!progress/.gitkeep

# caches
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.pyc
*.egg-info/

# zips
/VG_*.zip
/.trash_cleanup_*/

# virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db