accuracy.json
accuracy_for_verify.json
accuracy_summary.txt
latency_plot_fp32.png
latency_plot_int8.png
latency_plot.png
latency_summary_fp32.json
latency_summary_int8.json
latency_summary_fp32.txt
latency_summary_int8.txt
latency_results.json
latency_summary.txt
